*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: black;
}

.header{
  width: 100%;
  min-height: calc(100vh - 200px);
}

.pictureQS{
  width: 200px;
  height: 300px;
}
.home{
  display: flex;
}

.container{
  width: 100%;
  min-height: 100vh;
  background-color: #f9efdf;
  padding: 0!important;
  overflow: auto;
}

.titleHome{
  font-size: 3em;
}

.descriptionHome{
  width: 50%;
  font-size: 1.5rem;
}
.containerPhotosHome{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
  max-width: 100%!important;
}

.navbar{
  background-color: transparent;
}



.accordion-item{
  width: 75%;
}

.headerCurso{
  width: 100%;
  height: 40%;
  text-align: center;
  background-size: cover;
}

.accordion-button{
  font-size: 1.2rem!important;
  background-color: #f0e9dd!important;
  border: 0!important;
}

.accordion-button:focus{
  box-shadow: 0 0 0 0.25rem #d3cec5d7!important;
}

.accordion-body{
  font-size: 1.2rem!important;
  background-color: #f5ede1!important;
}

.footer{
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #00c8501a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.spanFooter{
  color: #c4c4c4;
}

.spanFooterTitle{
  color: white;
}


.galeria{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  grid-template-rows: 500px;
  gap: 50px;
}

.galeryPicture{
  min-width: 250px;
  flex: 350px;
  height: 400px;
}
.galeryPicture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.titleImage{
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: sans-serif;
}

.containerQS p{
  padding: 12px;
  border-radius: 10px;
  font-size: 1.2rem;
}



.containerForm{
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;

}

.headerForm{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contaierMap{
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mapa{
  width: 100%;
  height: 50%;
  border: 10px solid #0000008f;
  border-radius: 5px;
}

 #linkEmail{
  opacity: 0;
 }

#formulario{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.input{
  width: 300px;
  height: 30px;
  padding: 0 10px;
  margin-bottom: 20px;

}

label{
  font-size: 1rem;
  margin-bottom: 10px;
}

#btnEnviar{
  width: 100%;
  height: 40px;
  color: #fff;
  background-color: #000000;
  margin-top: 20px;
  border-radius: 10px;
}


@media only screen and (max-width:820px){
  .headerForm{
    flex-direction: column;
  }

.containerQ{
  flex-direction: column;
}



.pictureQS img{
  object-fit: contain;
}

  .galeria{
    grid-template-columns: repeat(auto-fill, auto);
  }


  .home{
    flex-direction: column;
  }

  

  #mapa{
    width: 300px;
    height: 400px;
  }
}

@media only screen and (max-width:420px){
  .descriptionHome{
    width: 100%!important;
  }

  .containerPhotosHome{
    grid-template-columns: repeat(auto-fill,90%);
  }

  .galeria{
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .headerForm{
    flex-direction: column;
  }

  #mapa{
    width: 300px;
    height: 400px;
  }
}







